---
layout: page
title: Home
permalink: /index.html
class: home
order: 0
show: 0
---

.row.intro.expanded
 .medium-offset-5.medium-7.large-offset-0.large-12.columns.paddedfull.copy.show-for-small
  %img(src="../assets/imgs/partners/yesfund-b.svg" alt="The #YesWeCode Fund" style="max-width: 600px; display:block; margin: 00px auto;")
  %p.small-11.small-centered.large-8.large-centered.columns The #YesWeCode Fund is a scholarship initiative designed to increase diversity in the tech industry by removing financial barriers and increasing access to quality tech education. By unifying the efforts of code schools, government bodies, civic organizations and employers across the country, the Fund aims to award $100 million in code school diversity scholarships.
  .row.valign-center.small-up-3
   %a.button(href="/scholarship-process/") How to Apply >
   %a.button(href="https://www.yeswecode.org/donate") Make A Donation >
   %a.button(href="/partners/") Become a Partner >



.graphline
 .row.expanded.the-fund
  %div.small-12.large-5.large-offset-1.columns.paddedhalf
   %h2 The Fund
   %p.medium-10.medium-offset-1.large-12.large-offset-0 The #YesWeCode Fund is designed to remove financial barriers for people who are underrepresented in the technology industry, including women and people of color. Students with financial need are encouraged to apply to receive a scholarship to attend a code school and take the first step toward a fulfilling career in technology.
   .row.table
    %a.button(href="") Learn more about the Scholarship Process
  %figure.small-12.large-5.large-offset-1.columns(style="padding-right: 0;")
   %img(src="{{site.url}}/assets/imgs/photos/25677176162_d1fcdfbb08_k.jpg" alt="women in tech working together, pair programming")
   %figcaption #WOCinTech Chat / CC BY 2.0
 .row.table

.white.paddedfull
 .row.partners
  %h2 The Commitment
  %p.large-8.large-centered.columns The #YesWeCode Fund partners include nonprofits, workforce development agencies, government bodies, accelerated education coding bootcamps, and employment partners. The partners are committed to creating successful pathways to quality long-term career opportunity through access to skills based technical education and financial literacy training.

 .row.columns.small-up-3.medium-up-3.large-up-4.valign-center(style="padding-top: 8em;")
  %img.column-block.columns.valign-center(src="../assets/imgs/partners/yeswecode-fc.svg" alt="logo for hashtag Yes We Code")
  %img.column-block.columns.valign-center(src="../assets/imgs/partners/the-iron-yard-fc.svg" alt="logo for The Iron Yard, a coding bootcamp")
  %img.column-block.columns.valign-center(src="../assets/imgs/partners/code-fellows-fc.png" alt="logo for Code Fellows, a coding bootcamp")
  %img.column-block.columns.valign-center(src="../assets/imgs/partners/we-can-code-it-fc.png" alt="logo for We Can Code It, a coding bootcamp")
  %img.column-block.columns(src="../assets/imgs/partners/climb-fc.svg" alt="A logo for Climb Credit, our financial partner")
  %img.column-block.columns(src="../assets/imgs/partners/operation-hope-fc.svg" alt="logo for Operation Hope, a financial dignity organization")
  %img.column-block.columns(src="../assets/imgs/partners/tech-square-labs-fc.svg" alt="logo for Atlanta-based partner, Tech Square Labs")
  %img.column-block.columns(src="../assets/imgs/partners/o-hub-fc.png" alt="Logo for Opportunity Hub")
 .row.table
  %a.button(href="/partners" style="text-align: center;") Learn more about our partners


.row.expanded.yellow.paddedfull
 .row.locations.front
  %h2.front Code School Locations
  %p.large-8.large-centered.columns.front #YesWeCode Fund scholarships will be awarded for students to attend participating code schools including The Iron Yard, Code Fellows, and We Can Code IT!
  %ul.row.expanded.small-up-1.medium-up-3.large-up-5.front
   %li.column.column-block
    Atlanta, GA
    %a(href="http://www.theironyard.com/atlanta") The Iron Yard

   %li.column.column-block
    Austin, TX
    %a(href="http://www.theironyard.com/austin") The Iron Yard

   %li.column.column-block
    Charleston, SC
    %a(href="http://www.theironyard.com/charleston") The Iron Yard

   %li.column.column-block
    Charlotte, NC
    %a(href="http://www.theironyard.com/charlotte") The Iron Yard

   %li.column.column-block
    Cleveland, OH
    %a(href="http://www.wecancodeit.org") We Can Code IT!

   %li.column.column-block
    Columbus, OH
    %a(href="http://www.wecancodeit.org") We Can Code IT!

   %li.column.column-block
    Dallas, TX
    %a(href="http://www.theironyard.com/dallas") The Iron Yard

   %li.column.column-block
    Durham, NC
    %a(href="http://www.theironyard.com/durham") The Iron Yard

   %li.column.column-block
    Greenville, SC
    %a(href="http://www.theironyard.com/greenville") The Iron Yard

   %li.column.column-block
    Houston, TX
    %a(href="http://www.theironyard.com/houston") The Iron Yard

   %li.column.column-block
    Indianapolis, IN
    %a(href="http://www.theironyard.com/indianapolis") The Iron Yard

   %li.column.column-block
    Las Vegas, NV
    %a(href="http://www.theironyard.com/las-vegas") The Iron Yard

   %li.column.column-block
    Nashville, TN
    %a(href="http://www.theironyard.com/nashville") The Iron Yard

   %li.column.column-block
    Orlando, FL
    %a(href="http://www.theironyard.com/orlando") The Iron Yard

   -# %li.column.column-block
   -#  Portland, OR
   -#  %a(href="http://www.codefellows.com/") Code Fellows

   %li.column.column-block
    Raleigh, NC
    %a(href="http://www.theironyard.com/raleigh") The Iron Yard

   %li.column.column-block
    Seattle, WA
    %a(href="https://www.codefellows.org/locations/learn-to-code-in-seattle/") Code Fellows

   %li.column.column-block
    Tampa Bay / St. Petersburg, FL
    %a(href="http://www.theironyard.com/tampa-bay") The Iron Yard

   %li.column.column-block
    Washington, DC
    %a(href="http://www.theironyard.com/dc") The Iron Yard

  .row.table
   %a.button.horizonblue(href="/partners") Learn more about the schools

.row.expanded.yellow.paddedfull
 .row.locations
  .typeform-widget.large-8.large-centered{"data-hide-footer" => "true", "data-hide-headers" => "true", "data-transparency" => "50", "data-url" => "https://theironyard.typeform.com/to/ghD9qw", :style => "width: 100%; height: 500px;"}
:javascript
  (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"widget.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()
