---
layout: page
title: Brand Guidelines and Press Information
permalink: /internal/
class: internal
<!-- order: 2 -->
---
.expandedrow
 .row
  %h1
   Brand Guidelines and Press Information
  %p
   We're excited to share our Design and Press Guidelines and Information with you. For inquiries around press, please contact
  %a.button.horizonblue(href="#") Learn more about the schools




http://colorsafe.co/
http://webaim.org/resources/contrastchecker/
