---
layout: default
title: Partners
permalink: /partners/
class: partners
order: 3
show: 1
---
%article#hero-partners.row.expanded
  %figure.small-5.columns.fullheight
    %img{:alt => "Women talking about scholarship", :src => "../assets/imgs/photos/25167780154_07434eafee_k.jpg"}/
    %figcaption #WOCinTech Chat / CC BY 2.0
  .small-5.small-offset-1.columns.paddedhalf.end
    %h2.blue {{ page.title }}
    %p
      The #YesWeCode Fund partners include nonprofits, workforce development agencies, government bodies, accelerated education coding bootcamps, and employment partners. The partners are committed to creating successful pathways to quality long-term
      career opportunity through access to skills-based technical education and financial literacy training.
.row.expanded
  .row
    #the-iron-yard.small-8.small-centered.medium-4.medium-uncentered.columns
      %a{:href => "http://www.yeswecode.org"}
        %img{:alt => "hashtag yes we code logo", :src => "../assets/imgs/partners/yeswecode-fc.svg"}/
    .small-12.medium-7.large-medium-1.columns
      %p #YesWeCode is a national initiative to help 100,000 young women and men from underrepresented backgrounds find success in the tech sector. #YesWeCode accelerates access to training in high-demand technical and non-technical skills to prepare untapped talent to enter the tech-fueled economy. #YesWeCode is building a diverse pipeline of 'homegrown' tech talent to meet demand and boost local economies.
      %a.button{:href => "http://www.yeswecode.org"} Learn more about #YesWeCode
.row.expanded
  .row
    #the-iron-yard.small-8.small-centered.medium-4.medium-uncentered.columns
      %a{:href => "http://www.theironyard.com"}
        %img{:alt => "iron yard logo", :src => "../assets/imgs/partners/the-iron-yard-fc.svg"}/
    .small-12.medium-7.large-medium-1.columns
      %p
        The #YesWeCode Fund's founding education partner, The Iron Yard, is a technology education company that offers software development courses both in person and through corporate training programs across the U.S. Their passionate staff strives to create real, lasting change for people, companies and communities
        by equipping a diverse workforce with 21st century digital skills. Their mission is to connect with people pursuing the craft and lifelong adventure of technology and help equip them with the skills they need to both get started and progress
        throughout their careers. The Iron Yard has prepared more than 1500 students for careers in technology. The Iron Yard has committed $40 million to the Fund.
      %a.button{:href => "https://www.theironyard.com"} Learn more about The Iron Yard
.row.expanded
  #code-fellows.row
    .small-8.small-centered.medium-4.medium-uncentered.columns
      %a{:href => "http://www.codefellows.org"}
        %img{:alt => "code fellows logo", :src => "../assets/imgs/partners/code-fellows-fc.png"}/
    .small-12.medium-7.large-medium-1.columns
      %p
        Code Fellows (CF) is a Seattle-based coding bootcamp that prepares students with job-ready skills in the tech industry. Code Fellows' mission is to provide software development skills for a better life, for a better community, and for a better
        world. Code Fellow's vision is to guide people from all backgrounds to change their lives through fast-paced, career-focused education. They shape passionate coders with immersive training to meet industry needs and improve diversity in
        the tech scene. One of Code Fellows goals is to make change today and highlight the progress for diversity in the tech industry that is already underway. Code Fellows has committed $1 million to the Fund.
      %a.button{:href => "https://www.codefellows.org/"} Learn more about Code Fellows

.row.expanded
  .row
    #we-can-code-it.small-8.small-centered.medium-4.medium-uncentered.columns
      %img{:alt => "we can code it logo", :src => "../assets/imgs/partners/we-can-code-it-fc.png"}/
    .small-12.medium-7.large-offset-1.columns
      %p
        We Can Code IT teaches people how to code, with a special emphasis on inclusion and diversity in tech. We Can Code IT is bridging the gap for those underrepresented in tech graduating 80% women and people of color from our cohorts. Founded by a female
        developer with over 20 years of experience, WCCI is a diverse group of experienced programmers and teachers who provide the training and career support that students need.
        %a.button{:href => "https://wecancodeit.org/"} Learn more about We Can Code IT
.row.expanded
  #operation-hope.row
    .small-8.small-centered.medium-4.medium-uncentered.columns
      %a{:href => "https://www.operationhope.org/"}
        %img{:alt => "operation hope logo", :src => "../assets/imgs/partners/operation-hope-fc.svg"}/
    .small-12.medium-7.large-medium-1.columns
      %p
        Global financial dignity nonprofit, Operation HOPE, will serve as the Fund's financial literacy and entrepreneur training partner. Operation HOPE is silver rights empowerment, making free enterprise work for everyone. They accomplish this
        through their work on the ground as the non profit private banker for the working poor, the underserved and struggling middle class. They achieve their mission by being the best-in-class provider of financial literacy empowerment for youth,
        financial capability for communities, and ultimately, financial dignity for all.
      %a.button{:href => "https://www.operationhope.org/"} Learn more about Operation Hope
.row.expanded
  #climb.row
    .small-8.small-centered.medium-4.medium-uncentered.columns
      %a{:href => "http://www.climbcredit.com"}
        %img{:alt => "climb credit logo", :src => "../assets/imgs/partners/climb-fc.svg"}/
    .small-12.medium-7.large-medium-1.columns
      %p
        Climb Credit, Inc’s mission is to expand access to quality education. It achieves this through robust tracking of student outcomes during and post graduation from education platforms. At quality, high ROI programs it offers affordable financing
        solutions to students to reduce the cost of attendance and expand the number of students who can benefit from these quality programs.
      %a.button{:href => "https://www.climbcredit.com/"} Learn more about Climb Credit
.row.expanded
  .row
    .small-8.small-centered.medium-4.medium-uncentered.columns
      %a{:href => "http://www.opportunityhub.co/"}
        %img{:alt => "opportunity hub logo", :src => "../assets/imgs/partners/o-hub-fc.png"}/
    .small-12.medium-7.large-offset-1.columns
      %p
        Opportunity Hub, LLC broadens the landscape of the technology industry for underrepresented communities through early exposure, education and training, inclusive ecosystem building, and access to capital. OHUB's definitive mission is to create
        and develop a diverse and inclusive highly skilled, competitive and innovative talent pool that will ideate, launch, start and scale high growth companies as entrepreneurs or “intrapreneurs”. Creating and managing an end-to end pipeline
        via targeted market exposure, intense engagement, immersive education and ongoing mentorship are definitive to accomplishing our mission.
      %a.button{:href => "http://www.opportunityhub.co/"} Learn more about Opportunity Hub
.row.expanded
  .row
    .small-8.small-centered.medium-5.medium-uncentered.columns
      %a{:href => "http://www.techsquare.co"}
        %img{:alt => "tech square labs logo", :src => "../assets/imgs/partners/tech-square-labs-fc.svg"}/
    .small-12.medium-7.columns
      %p
        TechSquare Labs, LLC is an innovation hub created by entrepreneurs, for entrepreneurs. It is also an incubator, seed fund and 25k sf of coworking and corporate innovation space. We are driven to “Build Something From Nothing”. We do this by combining
        experience in patents, research, and team building with a network that spans from freshman coders to Fortune 500 CEO’s.
      %a.button{:href => "http://www.techsquare.co/"} Learn more about TechSquare Labs
#join-us.row.expanded.yellow.paddedhalf{:style => "text-align:center"}
  .row
    %h3{:style => "text-align:center"} Join Us
    %p.large-8.large-centered.columns
      Partners can participate in a variety of ways, from contributing financially to the #YesWeCode Fund, supporting the in-class experience and, most importantly, building hiring and apprenticeship programs for scholarship recipients.
    %p.large-8.large-centered.columns
      Interested in becoming a partner? Send us a note at
      = succeed "." do
        %a{:href => "mailto:info@yeswecodefund.com"} info@yeswecodefund.com
