---
layout: page
title: Brand and Design Guidelines
permalink: /internal/brand/
class: brand
order: 2
show: 0
---

.expandedrow
 .row
  %h2 Accessibility
  %p Accessibility is a part of the fabric of the Katherine G. Johnson Fund. While we work together as a collection of partners towards making programming education more accessible through the scholarship, we are working just as hard to make this site and its content accessible to all visitors, on as many devices and browsers possible.

  %h3 Accessibility Standards
  %p This website is built with the <a href="https://www.w3.org/">W3C</a>'s recommendation on Web Accessibility guidelines—specifically, the Web Content Accessibility Guidelines 2.0 or <a href="#">WCAG 2.0</a>. Some guidelines we've focused on, but are not limited to, include making sure the color contrast in our palette rate with passing ratios in the AA and AAA standards as reported on <a href="http://webaim.org/resources/contrastchecker/">WebAim</a>'s contrast checker.


.expandedrow
 .row
  %h2 Color
  %p

  %h3

.expandedrow
 .row
  %h2 Typography

.expandedrow
 .row
  %h2 Color