---
layout: page
title: Resources
permalink: /resources/
class: resources
order: 4
show: 0
---

.row
 %h3 Workshops
 %p In the Credit & Money Management Workshops students will learn the basics of making a budget, how to read a credit report and what can be done to correct errors that may negatively affect your credit rating. The workshop will also cover your rights as a consumer, and how to make the most of them. A trained financial coach will lead the workshop.

.row
 %h3 Topics Include:
 %p
  %ul
   %li Budgeting
   %li Paying off debt and saving money
   %li Understanding your credit score
   %li How to read your credit report
   %li Your rights as a consumer
   %li Settling accounts
   %li Disputing inaccurate information


.row
 %p The program includes a Credit & Money Management Workshop, one-on-one credit coaching, and 700 Credit Score Communities group classes. The Credit Coaching Program is designed to help you make a plan on how to recover from debt and low credit scores. A certified financial coach will listen to your needs and goals, and then sit down with you to review your credit report, prepare a budget analysis and establish a plan of action to resolve credit and savings issues. If you are looking to establish or increase your credit, this program is for you.

.row
 %h3 Student Success Stories
 %p Thousands of people have chosen code school programs as their path toward landing a job as a developer and launching a lifelong career in tech. Here are the stories of few graduates who have completed an immersive code school course and landed their dream job.
