---
layout: default
title: How to Apply
permalink: /scholarship-process/
class: scholarship
order: 1
show: 1
---

#hero-scholarship
 .row.expanded
  %figure.small-12.medium-4.large-5.columns(style="padding: 0;")
   %img(src="../assets/imgs/photos/computerroom.jpg" alt="Students talking about code")
  .small-10.medium-7.large-5.large-offset-1.columns.paddedhalf.end
   %h2.blue Scholarship Process
   %p The #YesWeCode Fund represents a unique partnership across organizations providing technology skills-based education. Students will follow the admissions process for the school of their choosing. Once accepted to the school, they can apply for the scholarship.

.row.paddedhalf
 %img#find.small-5.small-centered.medium-uncentered.medium-3.columns.icon(src="../assets/imgs/patterns/find.svg" alt="icon for finding a scholarship")
 .small-10.small-offset-1.medium-8.columns.end
  %h3 Find the #YesWeCode Fund
  %p Students find out about the opportunity through:
  %ul
   %li Through the schools participating in #YesWeCode Fund
   %li Through the #YesWeCode website
   %li The press or public outlets

.row.paddedhalf
 %img#apply.small-5.small-centered.medium-uncentered.medium-3.columns.icon(src="../assets/imgs/patterns/apply.svg" alt="icon for the application")
 .small-10.small-offset-1.medium-8.columns.end
  %h3 Students Apply to A Partner School
  %p Students who apply will need to complete the program application process and be accepted to a Fund partner school. This:
  %ul
   %li allows for each school to be compliant with their processes and state admissions regulations
   %li ensures that incoming students will benefit from the respective program and are set up for success
   %br
  %p
   Apply with any one of our partner schools:
   .row.columns.small-up-3.valign-center
    %a.column.column-block.valign-center(href="http://www.theironyard.com/apply")
     %img.valign-center(src="../assets/imgs/partners/the-iron-yard-fc.png")
    %a.column.column-block.valign-center(href="https://www.codefellows.org/apply-now/")
     %img.valign-center(src="../assets/imgs/partners/code-fellows-fc.png")
    %a.column.column-block.valign-center(href="http://blog.wecancodeit.org/application")
     %img.valign-center(src="../assets/imgs/partners/we-can-code-it-fc.png")


.row.paddedhalf
 %img#verify.small-5.small-centered.medium-uncentered.medium-3.columns.icon(src="../assets/imgs/patterns/verify.svg" style="fill: pink; path: blue;" alt="icon for eligibility verification")
 .small-10.small-offset-1.medium-8.columns.end
  %h3 Apply to the #YesWeCode Fund
  %p Once the participaing school accepts each student, they will provide the application to apply for the scholarship through Climb Credit's application.
  %ul
   %li Person of color or identify as female
   %li Be accepted to their school of choice
   %li Meet the financial qualifications

   %p
    :markdown
     [Learn more about diversity in high tech](https://www.eeoc.gov/eeoc/statistics/reports/hightech/)

.row.paddedhalf
 %img#award.small-5.small-centered.medium-uncentered.medium-3.columns.icon(src="../assets/imgs/patterns/award.svg" alt="icon for scholarship award")
 .small-10.small-offset-1.medium-8.columns.end
  %h3 Verification Approval
  %p Climb Credit will verify the financial need of the student. Once Climb Credit verifies that the student qualifies, the students are notified by the School that they application to the #YesWeCode Fund was accepted and approved.

.row.paddedhalf
 %img#attend.small-5.small-centered.medium-uncentered.medium-3.columns.icon(src="../assets/imgs/patterns/attend.svg" alt="icon for attending the code school - a computer")
 .small-10.small-offset-1.medium-8.columns.end
  %h3 Scholarship Awarded
  %p Congrats! Once the scholarship is awarded, the students will be able to start and complete programs and receive assistance through their respective schools and career support programs.
