<footer class="site-footer horizonblue expanded row paddedfull"  role="contentinfo" >
  <div class="row copy" style="">
    <h3 class="large-12 columns" style="text-align:center">Contact Us</h3>
    <p class="large-8 large-centered columns copy " style="text-align:center; margin: 0 auto;">We're here to answer your questions. Whether you have questions or comments about the scholarship application or want to partner with us, get in touch by <br> emailing <a href="mailto:info@yeswecodefund.com">info@yeswecodefund.com</a> or calling <a href="tel:+01-844-937-2633">844-YES-CODE</a>.</p>
    <br>
    <p class="large-8 large-centered columns copy" style="text-align:center; margin: 0 auto;"> For all Press inquires, please email <a href="mailto:press@yeswecodefund.com">press@yeswecodefund.com</a>.</p>
  </div>
</footer>
<footer class="site-footer deepblue expanded row paddedhalf">
  <div class="row">
    <div class="small-6 medium-4 columns">
      <h5>Partners</h5>
      <ul>
        <li><a href="http://www.yeswecode.org">#YesWeCode</a></li>
        <li><a href="http://www.theironyard.com">The Iron Yard</a></li>
        <li><a href="http://www.codefellows.com">Code Follows</a></li>
        <li><a href="https://wecancodeit.org/">We Can Code IT!</li>
        <li><a href="http://www.climbcredit.com">Climb Credit</a></li>
        <li><a href="http://www.operationhope.com">Operation Hope</a></li>
        <li><a href="http://www.techsquarelabs.com">TechSquare Labs</a></li>
        <li><a href="http://www.opportunityhub.com">Opportunity Hub</a></li>

      </ul>
    </div>
    <div class="small-6 medium-4 columns">
      <h5> Other Links</h5>
      <ul>
        <li> <a href="/sitemap.xml">Site Map</a> </li>
        <li> <a href="/feed.xml">RSS Feed</a> </li>

      </ul>
    </div>
    <div class="small-10-small-offset-1 medium-uncentered medium-4 columns footer-logo">
    <img src="../assets/imgs/partners/yesfund-w.svg" alt="The hashtag Yes We Code Fund Logo">
      <p class="copyright">
        The Fund &copy; 2016 –
        <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script></p>
      <p class="copyright">Our goal is to make this website as accessible for you as possible, following the <a style="font-weight:normal" href="https://www.w3.org/TR/WCAG20/">WGAC2.0</a>.
      </p>
    </div>
  </footer>
  <script>
  var nav = responsiveNav(".nav-collapse");
</script>
