/**
* Basic styling
*/
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $horizonblue;
    background-color: $spacegray;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    width: 100%;
    max-width: 250px;
    display: block;
    float: left;
    max-height: 37px;
}

/*! responsive-nav.js 1.0.39 by @viljamis */
nav {
    max-width: 900px;
    display: block;
    float: right;

}
.nav-collapse {
}
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 10px;
}

.nav-collapse a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    &:last-of-type {
        margin-right: 0;
    }
}


.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: both;

}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px $horizonblue solid;
  padding: 5px 10px;
  font-size: 14px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 1px;
float: right;
text-decoration: none;
&:hover {
    background: $yellow;
text-decoration: none;

}
}


@media screen and (min-width: 60em) {
  .js .nav-collapse {
    position: relative;
    float: right;
  clear: none;

  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  .nav-collapse li {
      display: inline;
  }

  .nav-collapse a {
         font-size: .9rem;
  }

}

/* it me */



/**
* Set `margin-bottom` to maintain vertical rhythm
*/
// h1, h2, h3, h4, h5, h6,
blockquote, pre,
ul, ol, dl, figure, iframe, .vid-container
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
* Images
*/
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
* Figures
*/
figure > img {}

figcaption {
    font-size: $small-font-size;
}

.vid-container {
    max-width: 100%;
    margin: 0 auto;
}

/**
* Lists
*/
ul, ol {
    padding-left: 0;
    margin: 0;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

/**
* Headings
*/ h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 800;
    margin: 0;
}

h1 {
    line-height: 1;
}
h1.blue {
    color: $horizonblue;

}

h2 {
    font-size: $base-font-size * 1.41 * 2;
}

h3 {
    font-size: $base-font-size * 1.41 * 1.5;
}

h4 {
    font-size: $base-font-size * 1.41 * 1;
}

h5 {
    font-size: $base-font-size * 1.41 * 0.5;
}

/**
* Links
*/
a {
    color: $horizonblue;
    text-decoration: none;

    &:visited {
        // color: darken($brand-color, 15%);
        color: $horizonblue;
    }

    &:hover {
        transition: all 200ms linear;
        color: $horizonblue;
        text-decoration: underline;
    }
}

/**
* Blockquotes
*/
blockquote {
    line-height: 1.6;
    color: $horizonblue;
    font-weight: 600;
    font-size: 1.4rem;
    font-style: normal;
    text-indent: -.4em;
    > :last-child {
        margin-bottom: 0;
    }
}



cite {
  display: block;
  font-size: 1rem; }
  cite:before {
    content: "— ";
}


/**
* Code formatting
*/
pre,
code {
    font-size: 15px;
    border: 1px solid $spacegray;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

// Global Elements
header.site-header, footer {
    background: white;
    color: $graphline;
    padding: $spacing-unit * 1.5;


}

header.site-header { box-shadow: 0px -1px 1px $spacegray; border-bottom: 2px solid $deepblue;}

footer {
    p a {
        font-weight: 700;
    }

    h5 {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .2em;
    }

    li {
        font-size: .8em;
        list-style-type: none;
        list-style-position: outside;

        // a, a:link, a:visited, a:focus {
        //   color: $spacegray;
        // }
        // a:hover {
        //   color: $yellow;
        // }

    }

    a, a:link, a:visited, a:focus {
        color: $spacegray;
    }

    a:hover {
        color: $yellow;
    }

    .footer-logo {
        padding-top: 3em;
    }

    .copyright {
        font-size: .7em;
        margin-top: 2em;
    }
}

@media screen and (min-width: 40em) {
    footer {
        .footer-logo {
            padding-top: 0em;
        }
    }
}

/**
* Clearfix
*/
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**
* Icons
*/
.icon > svg {
    display: inline-block;
    vertical-align: middle;

    path {
        fill: $spacegray;
    }
}

.valign-center {
    position: relative;
    top: 50%;

    > .columns {
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
}

.table {
    display: table;


}
figure {
    margin-bottom: 0;
    position: relative;
    padding: 0 !important;
    img {
        max-width: 100%;
        display: block;

    }
    figcaption {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $spacegray;
        color: $horizonblue;
        padding: 5px 10px;
        font-size: .7em;
        font-weight: 500;
        z-index: 5;
    }
}


.home {
    h2 {
        text-align: center;
    }
    p {
        margin-top: 1.5em;
        margin-bottom: 1.5em;

        ul {
            margin-top: 1.5em;
        }
    }

}

    .button {
        display: inline-block;
        font-size: .8em;
        font-weight: 600;

        // vertical-align: top;
        padding: 10px 15px;
        background: $yellow;
        margin: 10px auto;
        text-align: center;
        vertical-align: middle;
    }

    .button:hover {
        background: $mustard;
        text-decoration: none;
    }

.intro {
position:relative; overflow:hidden; background-image: url(/assets/imgs/photos/main-blue.jpg); background-position: top center; background-size: cover;
>.copy {
  p {
    font-size: .8em;
  }
}
.button {
  margin-left: 2%;
  margin-right: 2%;
  box-sizing: padding-box;
  width: 96%;
}
}

    .full {
    background: none;
    }


@media screen and (min-width: 40em) {
    .intro {
      background-position: bottom center;
      >.copy {
        p {
          font-size: 1em;
        }
      }
      .button {

      }
    }
    .full {

    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    }
}

@media screen and (min-width: 60em) {
    .intro {

        .button {
          width: 28.33%;
        }
        > .copy {
            background-color: rgba(255, 255, 255, 0.2);
            height: 100%;
            position: relative;
            text-align: center;

            p {
                margin-top: 1em;
            }
        }
    }
}

.locations {
    li {
        list-style-type: none;
        list-style-position: inside;
        padding-left: 0;
        letter-spacing: .1em;
        font-weight: 700;
        text-transform: uppercase;
        font-size: .8em;
        text-align: center;
        margin-bottom: 4em;

        a {
            font-weight: 400;
            display: block;
            text-transform: none;
            cursor: pointer;
            letter-spacing: 0em;
        }
    }
    .button {
        display: inline-block;
        font-size: .8em;
        font-weight: 600;
        color: $spacegray;
        // vertical-align: top;
        padding: 10px 15px;
        background: $deepblue;
        margin: 10px auto;
        text-align: center;
        vertical-align: middle;
    }

    .button:hover {
        background: $graphline;
        color: $horizonblue;
        text-decoration: none;
    }
}

// //partners
// .partner-city {
//   padding: 20px;
//   list-style-type: none;
// }

// .card {
//       font-size: .85em;

//   padding: 1rem;
//   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//   margin: 0rem 0; //used to be on 2rem
//   background-color: #fff;
// img {
//     width: 8rem;
//     display: block;
//     margin: 2rem auto;
//     text-align: center;
//     border-radius: 50%;
//     box-shadow: 2px 2px 5px #888888;
//   }
//  h3 {
//   font-size: .9em;
//       text-align: center;

//   }
// h4 {
//   font-size: .9em;

//       text-align: center;
//       text-transform: uppercase; }
// }



body.partners {
    main > .row {
        padding: 3.5em 0;
        img {
            margin-bottom: 1.5em;
            max-width: 250px;
        }
    }
    main .expanded:nth-of-type(2n) {
    overflow: hidden;
    background: white;
}
}

@media screen and (min-width:40em) {
 body.partners {
    main > .row {
        img {
            margin-bottom: 0;
            max-width: 300px;
        }
    }
 }
}



#join-us {
    background: $yellow;
    p a {
        font-weight: 700;
    }
}


#contact-us {
    background: $horizonblue url("../assets/imgs/patterns/graph-light.svg") repeat;
    background-size: 8%;
}

@media screen and (min-width: 40em) {
  #contact-us {
    background-size: 5%;
  }

}

@media screen and (min-width: 64em) {
  #contact-us {
    background-size: 3%;
  }
  .the-fund {
    // background: $graphline url("../assets/imgs/photos/25677176162_d1fcdfbb08_k.jpg") no-repeat top right;
    // background-size: contain;
    // img {
    //     opacity: 0;
    // }
    // div.paddedhalf {
    //     background: $graphline;

    // }
  }
}

// #contact-us {
//     @include graph;
//   svg {
//     // width: 200px;
//     height: 150px;
//     max-width: 20%;
//     // margin-right: 5%;
//     * {
//       stroke: #52C5D0;
//     }
// }
// }

.news {
        background: $graphline;
    main{
    .row {
            border: $spacegray .5px solid;
                margin-bottom: 2em;
                padding: 3rem 0;
            }
    h1 {
        padding: .5em 0;
    }

    }
}

.news article {
    // padding: 1.25em 2em;
  h2 {
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
  }
  time {
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 1px;
    font-weight: 700;
  }
    p a:link, p a:visited {
        text-decoration:none;
        border-bottom: 1px $mustard solid;
    p a:hover {
        background-color: $mustard;
        display: inline-block;
    }
    }
}

.icon {
    display: block;
    margin-bottom: 2rem;
}
